.poster-path{
    width: 100%;
    
   
    
}

.background-gradient{
    background: linear-gradient(90deg, rgb(0, 0, 0) 0px, transparent 50%, transparent);
    width: 100%;
    height:121.1%;
    position: absolute;
}


.poster-path-img{
    width: 100%;
    height: 100%;
    object-fit: cover;

   
}
@media (max-width: 600px){
    .poster-path-img {
        width: 110%;
        height: 215px;
        
    }
    .background-gradient{
        height:35%;
    }
}