
.titleEpisodio{
    color: #5194e0;
}

.overviewEpisode{
    font-size: 12px;
    margin: 5px;
}

.styleEpisodio{
    width: 400px;
    margin:10px;
    color:honeydew;
}

.containerEpisode{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}