.info-person{
    display: flex;
}

.StyleSocial{
    width: 35px;
    height: 30px;
    color: rgb(220, 221, 222);
    margin-right: 10px;
    transform: scale(1);
    transition: all 0.3s ease 0s;
   margin-top: 30px;
  margin-bottom: 150px;
}

